In [41]:
import numpy as np
import pandas as pd
import scipy.stats as stats
from sklearn.ensemble import GradientBoostingRegressor as GBR
from sklearn.ensemble import RandomForestRegressor as RFR
from sklearn.ensemble import AdaBoostRegressor as ABR

In [2]:
train_DF = pd.read_csv("train_data.csv")
val_DF = pd.read_csv("val_data.csv")

In [3]:
print(len(train_DF))
train_DF.head()

17290

,Unique_idx,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,7291,4058200630,20141002T000000,3,1.75,2190,7021,1.0,0,2,...,1390,800,1953,0,98178,47.5033,-122.232,2180,7155,353000
1,14835,3613600150,20150105T000000,3,2.50,2370,6840,2.0,0,0,...,2370,0,1987,0,98119,47.6503,-122.366,1590,4400,300523
2,15880,7170200080,20140617T000000,2,1.00,1230,3800,1.0,0,0,...,1230,0,1928,0,98115,47.6797,-122.292,1610,3800,435000
3,8812,9542300530,20141124T000000,4,2.25,2510,9963,1.0,0,0,...,2200,310,1967,0,98005,47.5973,-122.177,3110,9963,800000
4,17220,3626039028,20140818T000000,3,1.00,1160,7491,1.0,0,0,...,1160,0,1917,0,98177,47.7024,-122.359,1800,2267,417500

In [4]:
print(len(val_DF))
val_DF.head()

4323

,Unique_idx,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,15544,1310430130,20141009T000000,4,2.75,2790,6600,2.0,0,0,...,9,2790,0,2000,0,98058,47.4362,-122.109,2900,6752
1,17454,2540830020,20150401T000000,3,2.25,1630,6449,1.0,0,0,...,7,1310,320,1986,0,98011,47.7275,-122.232,1620,7429
2,21548,8835770330,20140819T000000,2,1.50,2370,184231,2.0,0,0,...,11,2370,0,2005,0,98045,47.4543,-121.778,3860,151081
3,3427,7732400490,20141105T000000,4,2.50,2270,7665,2.0,0,0,...,9,2270,0,1986,0,98052,47.6612,-122.148,2450,8706
4,8809,2800031,20150401T000000,3,1.00,1430,7599,1.5,0,0,...,6,1010,420,1930,0,98168,47.4783,-122.265,1290,10320

In [5]:
X, y = train_DF.iloc[:, 2:-1], train_DF.iloc[:, -1]
X.date = X.date.apply(lambda x: x.split('T')[0])
X.date = X.date.astype(int)

val_DF.date = val_DF.date.apply(lambda x: x.split('T')[0])
val_DF.date = val_DF.date.astype(int)

In [6]:
train_x, train_y = X[:5000], y[:5000]
val_x, val_y = X[5000:10000], y[5000: 10000]
test_x, test_y = X[10000:], y[10000:]

In [7]:
model1 = GBR(n_estimators=300, learning_rate=0.01, max_depth = 1).fit(train_x, train_y)
model2 = GBR(n_estimators=300, learning_rate=0.01, max_depth = 2).fit(train_x, train_y)
model3 = GBR(n_estimators=300, learning_rate=0.01, max_depth = 3).fit(train_x, train_y)
model4 = GBR(n_estimators=300, learning_rate=0.01, max_depth = 4).fit(train_x, train_y)

In [16]:
def namestr(obj, namespace=globals()):
    return [name for name in namespace if namespace[name] is obj]

def modelscore(models):
    for model in models:
        print(f'{namestr(model)} train score : {model.score(train_x, train_y)}')
        print(f'{namestr(model)} val score : {model.score(val_x, val_y)}')
        print(f'{namestr(model)} test score : {model.score(test_x, test_y)}\n')

In [17]:
models = [model1, model2, model3, model4]
modelscore(models)

['model1'] train score : 0.6109155568001434
['model1'] val score : 0.563734870491137
['model1'] test score : 0.5822417657935051

['model2'] train score : 0.7482727204750935
['model2'] val score : 0.6886151516244221
['model2'] test score : 0.7095504813261144

['model3'] train score : 0.8343118680729269
['model3'] val score : 0.7676192688990933
['model3'] test score : 0.7876885703053644

['model4'] train score : 0.8851090440731366
['model4'] val score : 0.8006834000373046
['model4'] test score : 0.8213826212658444

In [18]:
model5 = GBR(n_estimators=300, learning_rate=0.1, max_depth = 4).fit(train_x, train_y)
model6 = GBR(n_estimators=300, learning_rate=0.05, max_depth = 4).fit(train_x, train_y)
model7 = GBR(n_estimators=300, learning_rate=0.01, max_depth = 4).fit(train_x, train_y)
model8 = GBR(n_estimators=300, learning_rate=0.001, max_depth = 4).fit(train_x, train_y)

In [20]:
models = [model5, model6, model7,model8]
modelscore(models)

['model5'] train score : 0.9726067284002164
['model5'] val score : 0.8590099545200645
['model5'] test score : 0.8700086216750392

['model6'] train score : 0.9550368050830733
['model6'] val score : 0.8564040531895618
['model6'] test score : 0.8662410662055412

['model7'] train score : 0.8851090440731366
['model7'] val score : 0.8008432504616473
['model7'] test score : 0.8213913622563801

['model8'] train score : 0.3325633587609149
['model8'] val score : 0.3021574329738733
['model8'] test score : 0.31382177728412586

In [40]:
print(train_y.max())
print(train_y.min())
modelG5 = GBR(n_estimators=300, learning_rate=0.05, max_depth = 6).fit(train_x, train_y)

3800000
75000

In [39]:
modelscore([model5_1])

['model5_1'] train score : 0.9846491775532465
['model5_1'] val score : 0.8508865253808549
['model5_1'] test score : 0.8632977457543469

In [14]:
y_predict = model5.predict(val_DF.iloc[:, 2:])

In [16]:
submission_DF = pd.DataFrame(val_DF.Unique_idx)

AttributeError: 'DataFrame' object has no attribute 'Unique_idx'

In [ ]:
submission_DF['price'] = y_predict

In [56]:
submission_DF.head()

   Unique_idx          price
0       15544  470024.222006
1       17454  444118.451936
2       21548  639684.889108
3        3427  688891.698948
4        8809  264932.883342

In [58]:
submission_DF.to_csv("submission.csv")

In [32]:
modelF1 = RFR(n_estimators=100, min_samples_split=2).fit(train_x, train_y)
modelF2 = RFR(n_estimators=100, min_samples_split=3).fit(train_x, train_y)
modelF3 = RFR(n_estimators=100, min_samples_split=4).fit(train_x, train_y)
modelF4 = RFR(n_estimators=100, min_samples_split=5).fit(train_x, train_y)
models = [modelF1, modelF2, modelF3, modelF4]

In [33]:
modelscore(models)

['modelF1'] train score : 0.9795018518888455
['modelF1'] val score : 0.8387439530191307
['modelF1'] test score : 0.8502871636441003

['modelF2'] train score : 0.9768348635757496
['modelF2'] val score : 0.8384480931107965
['modelF2'] test score : 0.8496048878405841

['modelF3'] train score : 0.975079707956222
['modelF3'] val score : 0.8341062047348935
['modelF3'] test score : 0.8499274331515985

['modelF4'] train score : 0.9722284922872174
['modelF4'] val score : 0.8393734187912928
['modelF4'] test score : 0.8498897123996324

In [42]:
modelF5 = RFR(n_estimators=50, min_samples_split=2).fit(train_x, train_y)
modelG5 = GBR(n_estimators=300, learning_rate=0.05, max_depth = 6).fit(train_x, train_y)

In [ ]:
modelA1 = ABR(n_estimators=100, base_estimator=modelG5, learning_rate=0.1).fit(train_x, train_y)

In [ ]:
modelscore([modelA1])

In [ ]:
def Forest(x, y, model, features, trees_amount):